#folderHierarchy ul{
    list-style-type : none;
    margin-left: 10px;
    padding-left: 10px;

}

#folderHierarchy{
    background-color: wheat;
    width: 500px;
    height: 500px;
    overflow: auto;
}

#folderHierarchy li{
    padding: 5px;

}

.button{
    background-color: azure;
    height: 12px;
    width: 12px;

    border-radius: 3px;
    border: 1px solid #000;

    display: inline-block;
    text-align: center;
    line-height: 12px;

    cursor: pointer;
}

.button:hover{
    background-color: aqua;
}

.name{

}

[data-description="fileImage"]{
    margin-left: 23px;
    margin-right: 13px;
}

[data-description="toggleButton"] ~ img{
    /*border: 1px solid black;*/

    height: 15px;
    width: 25px;
    margin-left: 5px;
    margin-right: 5px;
}

 img{
     height: 15px;
     width: 12px;
     margin-left: 5px;
     margin-right: 5px;
}

[data-index-add-button]{
    display: inline-block;
}

.contextMenu{
    position: fixed;
    z-index: 999;
    width: 100px;
    background-color: azure;
    border: 1px solid black;
    cursor: pointer;
}

.background{
    position: absolute;
    z-index: 998;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}